<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{dashboard.title}"></title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#submit').click(function(event) {
                var search = $('#s').val();
                var json ={"name":search};
                $.ajax({
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    type : "POST",
                    data: JSON.stringify(json),
                    url: "http://localhost:8080/search-blogs",
                    success: function(list) {
                        var respContent = "";
                        for (let blog of list){
                            respContent += "<p class='success'>";
                            respContent += blog.name + " : ";
                            respContent += blog.author + " : ";
                            respContent += blog.text + " : ";
                            respContent += blog.category.name + "</p>";
                        }
                        $("#blogList").html(respContent);
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $("#s").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</head>
<body>
<a href="/create-blog">Create new blog</a><br>
<a href="/categories">View by category</a><br>
Search by name:
<input name="s" id="s" type="text"/>
<button id="submit">Tìm</button>
<div id="blogList"></div>
<form>
    <input type="text" name="s">
    <input type="submit" value="Tìm">
</form>
<h1>Blog</h1>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Category</th>
        <th>Text</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="myTable">
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.category.name}"></td>
            <td th:text="${blog.text}"></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__ }">Delete</a></td>
        </tr>
    </th:block>
    </tbody>
</table>
<div>
    <a th:href="@{'/blogs'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/blogs'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>
</body>
</html>