<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<h1> Dear <span th:text="${user}"></span> Welcome to User Page</h1>

<h1>Blog</h1>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Category</th>
        <th>Text</th>
    </tr>
    </thead>
    <tbody id="myTable">
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.category.name}"></td>
            <td th:text="${blog.text}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
<div>
    <a th:href="@{'/'(page=${blogs.number - 1})}" th:if="${blogs.hasPrevious()}">Previous</a>
    <span th:text="${blogs.number + 1}"></span>/<span th:text="${blogs.totalPages}"></span>
    <a th:href="@{'/'(page=${blogs.number + 1})}" th:if="${blogs.hasNext()}">Next</a>
</div>

<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>